<button tabindex="0" class='base triggered-button-hide' data-triggered-id="{{_id}}" style="top:{{_triggered.hideButton._top}}; right:{{_triggered.hideButton._right}}; bottom:{{_triggered.hideButton._bottom}}; left:{{_triggered.hideButton._left}};">
    {{#if _triggered.hideButton.buttonText}}
    <span class="triggered-button-text">{{{_triggered.hideButton.buttonText}}}</span>
    {{else}}
    <span class='icon icon-cross'></span>
    {{/if}}
</button>
